/* HERO */
.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px auto;
    max-width: 85%;
}

/* TEXTO */
.hero-content {
     width: 90%;
}

.hero-content h1 {
     line-height: 1.2;
     margin-bottom: 20px;
     color: var(--NeutralDark);
}

.hero-content h4 {
    color: var(--NeutralDark);
    line-height: 1.6;
    margin-bottom: 30px;
}

/* BOTONES */
.primary-btn {
    background-color:  var(--Primary);
    border: none;
    font-weight: bold;
    padding: 14px 22px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
    transition: 0.3s;
}

.primary-btn a {
    color: var(--White);
    text-decoration: none;
}

.primary-btn a:hover {
      color:  var(--SecondaryLight);
}

.secondary-btn {
    background: none;
    border: none;
    color: var(--NeutralMedium);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.secondary-btn:hover {
    color: var(--Primary);
    text-decoration: underline;
}

/* IMÁGENES */
.hero-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* imagen principal */
.hero-images img:first-child {
    width: 520px;
    position: relative;
    z-index: 2;
}

/* tarjetas flotantes */
.hero-images img:nth-child(2) {
    position: absolute;
    top: -20px;
    left: -70px;
    width: 300px;
    z-index: 3;
}

.hero-images img:nth-child(3) {
    position: absolute;
    bottom: -80px;
    right: -50px;
    width: 250px;
    z-index: 3;
}

/* LOGOS */
.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 10%;
    opacity: 0.6;
    flex-wrap: wrap;
    gap: 30px;
}

.logos img {
    height: 50px;
    object-fit: contain;
    filter: grayscale(100%);
}

.logos img:hover {
    filter: grayscale(0%);
    opacity: 1;
}


/* Sección general */
.projects-section {
    padding: 60px 80px;
}


/* Grid de proyectos */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}



/* Sección */
.clients-opinion {
    position: relative;
    background-image: url("../assets/testimonial-section/orbit.png");
    background-color: var(--NeutralDark);
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    text-align: center;
    overflow: hidden;
}

.clients-opinion-article{
    background-color: var(--NeutralDark);
}

/* Título */
.clients-opinion-article h3 {
    margin-bottom: 30px;
    color: var(--White);
    text-transform: capitalize;
    font-weight: bold;
}

/* Testimonio */
.clients-opinion-article > p {
    font-size: 24px;
    max-width: 700px;
    margin: 0 auto 50px;
    color: var(--SecondaryLight);
    line-height: 1.5;
}

/* Memojis (posicionamiento absoluto) */
.emoji1{
  position: absolute;
    top: 40px;
    left: 40px;
    width: 80px;
}

.emoji2{
    position: absolute;
    top: 40px;
    right: 40px;
    width: 80px;
}

.emoji3 {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 80px;
}

.emoji4 {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 80px;
}

/* Perfil cliente */
.client-profile {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
}

.client-image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.client-info p {
    color: var(--NeutralLight);
    margin: 0;
}

.client-info .client-name {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 0;
    color: var(--PrimaryLight)
}


/* Grid de Servicios */
.services-section {
    margin: 30px 40px;
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.services-section h2{
    margin-bottom: 30px;
    color: var(--NeutralDark);
    align-self: flex-start;
}



.projects-grid-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    justify-items: center;
}

/* Imagen */
.project-card-services img {
    width: 30px;
    height: 30px;
    display: block;
    padding : 20px;
    background-color: var(--PrimaryLight);
    border-radius: 50%;
    
}

/* Contenido */
.project-card-services h4 {
    margin: 20px 20px 10px;
    color: var(--NeutralDark);
}

.project-card-services p {
    color: var(--NeutralMedium);
    margin: 0 20px 20px;
}
.project-card-services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--White);
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 30px 15px;
    width: 80%;
    margin-top: 30px;
}

.project-card-services:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Link */
.learn-more {
    display: inline-block;
    margin: 0 20px 20px;
    color: var(--Primary);
    text-decoration: none;
}

.learn-more:hover {
    text-decoration: underline;
}


/* =========================
   RESPONSIVE INDEX
========================= */


/* -------- 1080px -------- */
@media (max-width: 1080px) {

    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-images{
        margin-top: 30px;
    }

    .hero-images img:first-child {
        width: 400px;
    }

    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects-grid-services {
        grid-template-columns: repeat(2, 1fr);
    }

    .row {
        gap: 40px;
    }
}

/* -------- 780px -------- */
@media (max-width: 780px) {
    .logos{
        justify-content: center
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .hero-content h2 {
        font-size: 16px;
    }

    .projects-section {
        padding: 40px 20px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .projects-grid-services {
        grid-template-columns: 1fr;
    }

    .clients-opinion h2 {
        font-size: 28px;
    }

    .clients-opinion > p {
        font-size: 16px;
    }

    .row {
        grid-template-columns: 1fr;
    }
}


/* -------- 500px -------- */
@media (max-width: 500px) {

    .body {
        margin: 5px;
        text-align: center;
    }
    .projects-section {
        padding: 40px 20px;
        width: 90%;

    }

    .hero-section {
        display: block;
        align-items: center;
        padding: 0;
        margin-left: 30px;
    }

    .hero-content {
        width: 100%;
        text-align: left;
    }

    .hero-images img:first-child {
        padding-top: 20px;
        width: 280px;
    }

    .hero-images img:nth-child(2),
    .hero-images img:nth-child(3) {
        display: none;
    }

    .logos{
        padding : 0 20px 20px 20px
    }

    .logos img {
        height: 30px;
    }

    .client-emojis {
        display: none;
    }

    .services-section {
        margin: 20px;
        padding: 0;
    }

    .contact-section input[type="email"] {
        width: 85%;
    }

    .suscribe-btn {
        margin-top: 20px;
        width: 50%;
    }

}